<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>57</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>56</string>
					<key>Timestamp</key>
					<string>730138049.608117</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>DuckRescue/Views/LevelBuilderView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>            if let firstEntity = levelSegments.first?.entity {
</string>
				<key>leading</key>
				<string>               try? await levelSegments.append(LevelSegment(entity: Entity(named: "duck1", in: realityKitContentBundle), position: [xPos, yPos, 0]))
            }
</string>
				<key>trailing</key>
				<string>                
                print("count of entities in array: \(levelSegments.count)")
                
</string>
			</dict>
			<key>title</key>
			<string>Somehow doesnt add to content</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>12</string>
					<key>EndingLineNumber</key>
					<string>32</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>32</string>
					<key>Timestamp</key>
					<string>730658630.943732</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>DuckRescue/ImmersiveSpaces/ImmersiveView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>            duckSubscription = content.subscribe(to: CollisionEvents.Began.self, on: appState.duck){ event in
</string>
				<key>leading</key>
				<string>            buildAttachments(attachments)
            
</string>
				<key>trailing</key>
				<string>                
                
                print(event.entityA.name)
</string>
			</dict>
			<key>title</key>
			<string>Find the fucking duck</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
